main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 24px);
  grid-template-rows: repeat(9, 24px);
  gap: 2px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: gray;
  text-align: center;
  cursor: pointer;
}

.is-opened {
  background-color: lightgray;
}

.mine {
  background-color: red;
}

.mine::before {
  content: '💣';
}

.button_restart {
  margin: 20px 0;
}
